* {
	box-sizing: border-box;
}
html, body {
	height: 100%;
}
body {
	margin: 0;
	min-width: 320px;
	min-height: 100vh;
	background: $white;
	color: $black;
	font: 400 16px/1.2 $font-family;
  }

a {
	text-decoration: none;
	transition: all $transition-time $transition-function;
	color: $russian-violet;
	&:hover {
		color: darken($russian-violet, 20%);
	}
}

button {
	cursor: pointer;
	transition: all $transition-time $transition-function;
}

img {
	max-width: 100%;
	vertical-align: top;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
	border: none;
	border-bottom: 1px dashed $russian-violet;
	padding: 10px;
	font: 400 16px/20px $font-family;
	height: 30px;
	background: none;
	width: 100%;
	color: $russian-violet;
	outline: none;
	transition: border $transition-time $transition-function;
	margin-bottom: 5px;
	&:focus {
		border: none;
		border-bottom: 1px dashed $saffron;
	}
}

input[type="button"],
button[type="button"],
input[type="submit"],
input[type="reset"] {
	background: $saffron;
	padding: 10px 15px;
	border-radius: $border-radius;
	font: 16px/1.2 $permanent-marker;
	border: none;
	cursor: pointer;
	transition: background $transition-time $transition-function;
	&:hover {
		background: darken($saffron, 10%);
	}
}

table {
	border: 1px inset $white;
    margin: 20px 0;
    border-collapse: collapse;
    width: 100%;
	table-layout: auto;
	word-break: break-all;
	&:nth-col(1) {
		background: $dark-purple;
	}
	
	th, td {
		padding: 5px;
	}
	thead {
		tr {
			background: $dark-purple;
			color: $white;
		}
	}
	tbody {
		tr {
			&:nth-child(odd) {
				background: lighten($ultraviolet, 10%);
			}
			&:nth-child(even) {
				background: lighten($ultraviolet, 20%);
			}
		}
	}
}