$dark-purple: #22162b;
$russian-violet: #451f55;
$ultraviolet: #724e91;
$blush: #e54f6d;
$saffron: #f8c630;
$white: #fff;
$black: #000;

$font-family: 'Lato', Arial, Helvetica, sans-serif;
$cursive: 'Monoton', cursive;
$permanent-marker: 'Permanent Marker', cursive;

$border-radius-sm: 10px;
$border-radius: 14px;
$border-radius-lg: 20px;

$tablet: 768px;
$desktop: 1024px;

$transition-time: 400ms;
$transition-function: ease-in-out;